* {
	padding: 0;
	margin: 0;
}

html {
	font-family: Arial;
	scroll-behavior: smooth; 
}

.nav-list {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    
  }
  
  li a {
    float: right;
    display: flex;
    color: white;
    text-align: center;
    padding: 24px 46px;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(136, 138, 141);
  }

  #home {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1559325280-e31138f59e10?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    text-align: center;
    height:720px;
    color: white;
    margin-bottom: 30px;
  }

.hello {
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

.hello h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin:  30px  50px  30px 30px ;
  color: white;
  font-size: 50px;
}

.hello h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 70px;
  margin: 40px;
}

#about  {
  background-image: linear-gradient(to right, rgb(149, 197, 211) , rgb(186, 122, 223));    
  width: 95%;
  height: 620px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: rgb(137, 180, 218);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: auto;
}

#col-right {
  margin-top: 100px;
  color:white;
  font-size: 20px;
  justify-content: center;
}

#col-right p {
  margin-right: 30px;
}

#section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.about-img {
  margin: 150px;
  width: 250px;
  height: 250px;
  border-radius:200px; 
}

#projectsandjs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#services {
  justify-content: center;
  text-align: center;
  color: rgb(7, 7, 7);
  box-sizing: border-box;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:white;
  width: 30%;
}

#services h1 {
  font-size: 40px  ;
  padding:  30px 0px  30px 0px ;
}

.services-img {
 border-radius: 70px;
 width: 90px;
 height: 90px;
 margin: 35px;
}

 .skills {
  position: relative;
  margin: 10px 10px  20px 10px;
 }

.container .skills h3 {
  margin: 0;
  padding: 0;
  float: left;
}

.container .skills .percent {
  float: right;
}

.container .skills .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color:rgb(134, 137, 148);
  margin: 15px 0 10px;
}

.container .skills .bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(to right, rgb(48, 106, 182) , rgb(217, 138, 241));   
}
 
.education h4 {
  text-align: start;
  margin: 30px;
}

.education h5 {
  text-align: start;
  margin: 10px 10px 80px 30px;
  font-size: 15px;
}

#projects {
  color: aliceblue;
  box-sizing: border-box;
  margin: 30px  15px 25px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:white;
  width: 70%;
 
}

.h1-sty {
  color: black;
  margin: 70px 50px 30px 50px; 
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 100px 30px;
  margin: 20px;
  align-items: stretch;
  
}

.grid-projects  article {
  background-color: rgb(144, 165, 209);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

.grid-projects img {
  height: 320px;
  width: 100%;
}

.grid-projects .text-projects {
  padding: 20px;
}

.button {
  background-color: rgb(167, 183, 224);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#contact {
  height: 400px;
  width: 100%;
  background-color: #070000;
  color: rgb(252, 249, 249);
  box-sizing: border-box;
  padding: 60px 0px;
}

.contact-h1 {
  text-align: center;
  font-size: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px; 
}

.icon{
  display: flex;
  flex-direction: row;
  margin: 60px;
}

.icon-style{
  margin: 10px;
  color: rgb(213, 218, 223); 
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  #home {

    height:750px;
    width: 1100px;
  }

  .hello h1 {
    font-size: 30px;
    margin: 10px;
  }
  .hello h2 {
    margin: 20px;
    font-size: 40px;
  }
  #contact {
     width: 1100px;
  }

  #projectsandjs {
    width: 1100px;
 }
 .grid-projects {
  grid-gap: 20px 30px;
}

 #about { 
  width: 1000px;
  margin-left:50px;
}
}

@media screen and (max-width: 680px) {

    ul {
      display: flex;
      flex-direction:column;
      font-size: 30px;
      text-align: center;
    }
    
    li {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    #home {
      margin-top: 300px;
      width: 1100px;
    }
   
    #projectsandjs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 1100px;
   }

   #services{
     width:  95%;
   }

   #projects{
    width: 95%;
    margin-left:25px;
  }
   
  }
