
* {
	padding: 0;
	margin: 0;
}

html {
	font-family: Arial;
	scroll-behavior: smooth;
}

.nav-list {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

#home {
  width: 100%;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(148, 163, 196); 
  }
  
  li a {
    float: right;
    display: flex;
    color: white;
    text-align: center;
    padding: 24px 46px;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(136, 138, 141);
  }
  
  .hcontainer {
   display: flex;
   justify-content: space-between;
   height:750px;
   background-color: rgb(204, 136, 119);
   color: white;
  }

.hello {
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

.hello h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin:  30px  50px  30px 30px ;
  color: aliceblue;
  font-size: 50px;
}

.hello h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(175, 55, 34);
  font-size: 70px;
  margin: 40px;
}

#imghome {
  opacity: 0.8;
}

#about  {
  width: 90%;
  display: flex;
	flex-direction: row;
  justify-content: space-around;
	text-align: center;
  box-shadow: rgb(137, 180, 218);
  background-color: white ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 40px 50px 20px  50px;
	padding: 20px;
  
}

.col-right {
  margin: 50px;
  color: rgb(12, 12, 12);
  font-size: 20px;
  justify-content: center;
}

.section-title {
  margin-bottom: 50px;
  font-size: 50px;
}

.about-img {
  margin: 50px;
  width: 300px;
  height: 300px;
  border-radius:300px;
}


#projectsandjs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#services {
  justify-content: center;
  text-align: center;
  color: rgb(7, 7, 7);
  box-sizing: border-box;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:white;
  width: 30%;
}

#services h1 {
  font-size: 40px  ;
  padding:  30px 0px  30px 0px ;
}

.services-img {
 border-radius: 70px;
 width: 90px;
 height: 90px;
 margin: 35px;
}

 .skills {
  position: relative;
  margin: 10px 10px  20px 10px;
 }

.container .skills h3 {
  margin: 0;
  padding: 0;
  float: left;
}

.container .skills .percent {
  float: right;
}

.container .skills .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color:rgb(134, 137, 148);
  margin: 15px 0 10px;
}

.container .skills .bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #1867dd;
}
 
.ed h4 {
  text-align: start;
  margin: 30px;
}

.ed h5 {
  text-align: start;
  margin: 10px 10px 80px 30px;
  font-size: 15px;
}

#projects {
  color: aliceblue;
  box-sizing: border-box;
  margin: 30px  15px 25px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:white;
  width: 70%;
 
}

.h1-sty {
  color: black;
  margin: 70px 50px 30px 50px; 
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 100px 30px;
  margin: 20px;
  align-items: stretch;
  
}

.grid-projects  article {
  background-color:rgb(148, 163, 196);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

.grid-projects img {
  height: 320px;
  width: 100%;
}

.grid-projects .text-projects {
  padding: 20px;
}

.button {
  background-color: rgb(173, 191, 230);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#contact {
  height: 400px;
  width: 100%;
  background-color: #070000;
  color: rgb(252, 249, 249);
  box-sizing: border-box;
  padding: 60px 0px;
}

.contact-h1 {
  text-align: center;
  font-size: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px; 
}

.icon{
  display: flex;
  flex-direction: row;
  margin: 60px;
}

.icon-style{
  margin: 10px;
  color: rgb(213, 218, 223); 
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .hcontainer {

    height:750px;
    width: 1100px;
  }

  .hello h1 {
    font-size: 30px;
    margin: 10px;
  }
  .hello h2 {
    margin: 20px;
    font-size: 40px;
  }
  #contact {
     width: 1100px;
  }

  #projectsandjs {
    width: 1100px;
 }
 .grid-projects {
  grid-gap: 20px 30px;
}

 #about {
  width: 1000px;
}

#services h1{
  margin-top: 50px ;
 }
}

@media screen and (max-width: 680px) {

    ul {
      display: flex;
      flex-direction:column;
      font-size: 30px;
      text-align: center;
    }
    
    li {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    #home {
      margin-top: 300px;
      width: 1000px;
    }
   
    #projectsandjs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 1100px;
   }

   #services{
     width:  95%;
   }

   #projects{
    width: 95%;
    margin-left:25px;
  }
   
  }
